<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ganjil Genap</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }
        .center-kalkulator{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        p{
            color: blue;
        }
    </style>
</head>
<body>
<div class="center-kalkulator">
    <h1>Ganjil Genap</h1>
    <form action="#" th:action="@{/ganjilgenap}" method="post">
        <pre style="font-size: 24px">Angka Pertama: <pre><input type="number" name="angka" id="angkaField" th:attr="value = ${angka}"></pre></pre>
        <pre style="font-size: 24px">Angka Kedua:<pre><input type="number" name="angkaKedua" id="angkaKeduaField" th:attr="value = ${angkaKedua}"></pre></pre>
        <p><button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>

    <span th:if="${error} != 'tidak'">
        <p th:text="${error}"></p>
    </span>
    <table>
        <tr>
            <th>Angka</th>
            <th>Keterangan</th>
        </tr>
        <tr th:each="dataAngka :${listHasil}">
            <td th:text="${dataAngka.angka}"></td>
            <td th:text="${dataAngka.keterangan}"></td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>