<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Hitung Vokal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .center-kalkulator{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        p{
        color: blue;
        }
    </style>
</head>
<body>
<div class="center-kalkulator">
    <h1>Hitung Vokal</h1>
    <form action="#" th:action="@{/hitungvokal}" method="post">
        <pre style="font-size: 24px">Masukkan Text: <pre><input type="text" name="text" id="angkaField" th:attr="value = ${text}" required></pre></pre>
        <p><button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        <p th:text="${hasil}" style="font-size: 24px"></p>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>