<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Kalkulator Sederhana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hasil</h1>
<p th:text="'&#8220; ' + ${kalkulatorData.angkaPertama} + ' ' + ${operator} + ' ' + ${kalkulatorData.angkaKedua} + ' &#8221;' + ' = ' + ${hasil}"></p>
<a href="/kalkulator">Submit another message</a>
</body>
</html>